<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>GQuery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>GQuery</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>edu.utah.hci.apps</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GQuery</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>edu.utah.hci.apps.QueryService</listener-class>
  </listener>
  <listener>
    <listener-class>edu.utah.hci.apps.QueryAuthorization</listener-class>
  </listener>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>fetchKey requires authentication</web-resource-name>
      <url-pattern>/fetchKey</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>queryUser</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <role-name>queryUser</role-name>
  </security-role>
  <login-config>
    <auth-method>DIGEST</auth-method>
    <realm-name>GQuery</realm-name>
  </login-config>
  
  <context-param>
    <description>Full path to the base Data directory containing one or more directories with tabix indexed genomic files, e.g. vcf.gz, bed.gz, maf.txt.gz. Periodically run the GQueryIndexer on this base Data directory to keep the master indexes up to date. It will only re index when file changes have occurred.</description>
    <param-name>path2DataDir</param-name>
    <param-value>/Users/u0028003/Code/GQuery/TestResources/Data</param-value>
  </context-param>
  <context-param>
    <description>Full path to temp dir for writing bed file uploads and results for download. Unless in log4j DEBUG mode, contents are deleted on startup.</description>
    <param-name>tempDir</param-name>
    <param-value>/Users/u0028003/Code/GQuery/TestResources/TempFiles</param-value>
  </context-param>
  <context-param>
    <description>Where to go for help with your particular GQuery web service.</description>
    <param-name>helpUrl</param-name>
    <param-value>https://github.com/HuntsmanCancerInstitute/GQuery</param-value>
  </context-param>
  <context-param>
    <description>Boolean indicating whether authorization is enabled.  If true, complete the userGroup param.</description>
    <param-name>authorizationEnabled</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>If using authorization, provide a full path to the userGroup file. This parent dir will also be used to store the encryption key so keep it secure.</description>
    <param-name>userGroup</param-name>
    <param-value>/Users/u0028003/Code/GQuery/WebContent/WEB-INF/userGroup.txt</param-value>
  </context-param>
  <context-param>
    <description>If using authorization, place QueryAuthorization token in Response 'body' or Authorization 'header' (more secure)</description>
    <param-name>tokenLocation</param-name>
    <param-value>body</param-value>
  </context-param>
  <context-param>
    <description>If using authorization, indicate how many minutes an issued token remains active.</description>
    <param-name>minPerSession</param-name>
    <param-value>360</param-value>
  </context-param>

  
</web-app>